body {
    background-image: url(./recayd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    margin-bottom: 150px;
    margin-top: 50px;
    margin-left: 50px;
}
main{
    display:flex;
    font-size: 16px;
}

footer{
    display: flex;
    gap: 16px;
}

.title__text{
    color: red;
    font-family:bangers ;
    margin-left: 20px;
    margin-bottom: 100px;
    font-size: 100px;
}

.descripition{
    margin-left: 50px;
}

.videos{
    width: 150px;
}

.redes__sociais{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin-left: 800px;
}

.youtube{
    margin-bottom: 25px;
}
.twitter{
    margin-bottom: 25px;
}
.facebook{
    margin-bottom: 25px;
}
.instagram{
    margin-bottom: 25px;
}
