*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 150px;
    background-image: url(./recayd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title__text{
    color: red;
    font-family:bangers ;
    font-size: 100px;
}

main{
    /* display:flex;
    font-size: 16px; */
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.description{
    /* margin-left: 50px; */
    font-size:large;
    color:black;
    /* margin-left: 20px;
    margin-right: 60px; */
    width: 400px;
    place-self: center start;
}

.videos{
    width: 150px;
}

.redes-sociais{
    place-self: center end;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.youtube{
    
}
.twitter{
   
}
.facebook{
    
}
.instagram{
    
}

footer{
    display: flex;
    gap: 16px;
}